.inputField {
    width: 90%;
    float: left;
}

.sendButton {
    width: 10%;
    float: right;
}

.chat{
    min-height: 75vh !important;
    width: 90%;
    margin-left: auto;
    margin-top: 3%;
    margin-right: auto;
    margin-bottom: 3%;
    border-radius: 0 !important;
    padding:10px;
    background:#f0ece6 !important;
}
.conversation{
    height: 70vh !important;
    overflow-y: scroll;
    padding-bottom:12px;

}
.chatBar{
    min-height: 5vh !important;
    background-color:white!important;
}
.chatCount{
    color:#707070;
}

.chatHeader{
    border-radius: 0 !important;
    height: 40px;
    background-color:#f8f8f8 !important;
    margin-bottom: 1%;
    padding-left: 6px;
    padding-right: 6px;
}
.contactName{
    padding-top: 3px;
}
.chatHeaderButton{
    float:right;
}
