.confirmationError{
    background-color: #ff5c4d !important;
}

.confirmation{
    margin:auto;
    width: 30%;
    border-radius: 0 !important;
    padding: 10px;
    color:white !important;
    font-size: large;

}
.confirmationSuccess{
     background-color: #87ff5d !important;
     color:black !important;
 }
