.stats{
    border-radius: 0 !important;
    width: 65%;
    margin: auto;
    margin-top: 2%;
    overflow-x: auto;

}
.statList{
    padding: 0 !important;
    min-width: 700px;
}
.statListTitle{
    background-color: #f0f0de;
}
.tutorshipStatistics{
    margin: auto !important;
}