.mentorPaper{
    width: 100%;
    padding-bottom: 0 !important;
    margin-bottom: 5% !important;
    min-width: 420px;
    margin-right: 5%;
    margin-left: 2%;
}

.mentorListHeader{
    color:#515354 !important;
    width: 100% !important;
}
.mentorListHeaderTitle{
    margin-right: auto !important;
    font-weight: bold !important;
    font-size: medium !important;
}

.mentorLastName{
    margin-left: 7%;
}
.mentorProgramme{
    float:right !important;
    text-align: left !important;
}

.addMentorListItem{
    width: 100%;
}

.programmePaper{
    width: 300px;
    overflow-x: auto;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
    margin-right: 2%;
    margin-left: 20%;

}
.programmeSelection{
    float:left;
    width: 100%;
}