.announcementList{
    max-width: 80%;
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 2%;
    margin-top: 1% !important;
    border-radius: 0 !important;
}
.announcementListHeader{
    width: 100%;
    border-bottom: 0.8px solid #cccccc;
    padding-bottom: 0 !important;
    margin-bottom: 5%;
}
.announcementListTitle{
    font-size: large;
    font-weight: bold;
    margin-right: 0 !important;
    color:#555758;
    float:left !important;
}
.newAnnouncementButton{
    padding-top: 5px !important;
    margin-bottom: 2px !important;
}
.newAnnouncement{
    margin-left: 0 !important;
    float:right !important;
}
.oldAnnouncement{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    font-size: medium;
    margin-bottom: 5%;
    padding: 5px;
    border-radius: 0 !important;
}
.oldAnnouncementDate{
    float:right;
    margin-right: 2% !important;
}

.oldAnnouncementContentTitle{
    font-weight: bold;
}
