.tuteeAdpaper{
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 5% !important;
    width: 99%;
    background-color: #ffffff !important;
    -webkit-transition: background-color 300ms linear !important;
    transition: background-color 300ms linear !important;
    padding: 15px;
    box-shadow: 1px 3px 2px -2px rgba(0,0,0,0.2), 1px 2px 2px 1px rgba(0,0,0,0.14), 1px 2px 4px 1px rgba(0,0,0,0.12) !important;
    word-wrap: break-word;
    word-break: break-all;
}

.tuteeAdpaper:hover {
    background-color:#F8F8F8 !important;

    -webkit-transition: background-color 300ms linear !important;
    transition: background-color 300ms linear !important;
}

.tuteeAdpaper:hover .tuteeAdGridItem {
    background-color:#F8F8F8;
    -webkit-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

.tuteeAdpaperHidden{
    height: 0;
    -webkit-transition: height 1000ms linear;
    transition: height 1000ms linear;
}
.tuteeAdpaperHidden .tuteeAdGridItem{
    display: none;
}

.tuteeAdGridItem {
    padding: 2%;
    text-align: left;
    color: black;
    background: white;
    -webkit-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
    word-wrap: break-word;
}
.MuiGrid-item{
    padding: 1px !important;
}

.date{
    margin-bottom: 5% !important;
    color: #8c8c8c;
}

.buttons{
    margin-top: 5px !important;
    border-top: 0.7px solid #cccccc !important;
}


.tuteeAdButton{
    float:right;
    border-radius: 0 !important;
    border-left: 0.7px solid #cccccc !important;
}


.tuteeAdButton:hover{
    background-color: #27a2cf !important;
}

.container{
    display: flex;
    flex-wrap: wrap;
    margin-left: 15% !important;
    margin-top: 10% !important;
}
.createTuteeAdpaper{
    width: 80%;
    padding: 1%;
}

.acceptedItem{
    background-color: #F8F8F8 !important;
    color:#908e8e !important;
}
.acceptedItem * {
    background-color: #F8F8F8 !important;
    color:#908e8e !important;
}

.textField{
    width: 100%;
    color: black !important;
}

.Mui-focused {
    color: black !important;
}
.Mui-focused fieldset{
    border-color: #27a2cf !important;
}
