.tuteeAdList{

    max-width: 90%;
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 1%;
    margin-top: 1% !important;
}
.programmeSelection{
    margin-bottom: 1% !important;
    margin-left: 1% !important;
}



