.root {
    flex-grow: 1;
}

.menuButton {
    margin-right: 2px;
}
.title {
    flex-grow: 1;
}


.PageTitleText{
    margin-left: 20%;
}

.secondaryBar{
    z-index: 0;
}
.menuButton {
    margin-left: 5px;
}
.iconButtonAvatar {
    padding: 4px;
}
.link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}
.button {
    border-color: rgba(255, 255, 255, 0.7);
}
