.active{
    color:#afd6ff !important;
}

.categoryHeader{
    padding-top: 5px;
    padding-bottom: 5px;
}
.categoryHeaderPrimary {
    color: white;
}
.item {
    padding-top: 1px;
    padding-bottom: 1px;
    color: rgba(255, 255, 255, 0.7);
}

.itemCategory {
    background-color: #232f3e;
    box-shadow: 0 -1px 0 #404854 inset;
    padding-top: 5px;
    padding-bottom: 5px;
}
.ListItemText :hover{
    color:green !important;
}
.firebase {
    font-size: 24px;
    color: white;
}
.platformTitle{
    margin: 0 !important;
}
.openDrawer{
    margin-right: 250px !important;
}
.closedDrawer{
    margin-right: 25px !important;
}
.menuIcon{
    position:fixed;
    z-index: 2000;
    color:white;
    margin-top: 3px !important;
}
.itemActiveItem {
    color: #4fc3f7;
}
.itemPrimary {
    font-size: inherit;
    color:white;
}
.itemPrimary:hover{
    color: rgba(255,255,255,0.6);
}
.itemIcon {
    min-width: auto;
    margin-right: 5px;
    color:white !important;
}
.divider {
    margin-top: 5px;
}
