.root {
    display: flex;
    min-height: 100vh;
}

.app {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.drawer{
    flex-shrink: 0;
}
.header{
    height:20px;
}
.main {
    height: 100%;
    margin-top: 42px;

}
.footer {
    background: #eaeff1;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.errorSnackBar{
    background-color: #ce2623 !important;
    font-size: 16px !important;
}
.listTitle{
    background-color: #f0f0de;
}
.errorSnackBar *{
    margin:auto !important;
}

.MuiBadge-badge{
    background-color: red !important;
}