.pendingTutorPaper{
    width: 70vw !important;
    overflow-x: auto;
    margin-right: auto !important;
    margin-left: auto !important;
    border-radius: 0 !important;
    word-wrap: break-word;
    padding:0 !important;
    margin-top: 1%;
}
.pendingTutorList{
    width: 100%;
    min-width: 900px;
    padding:0 !important;
}

.actionButton{
    float:left;
    border-radius: 0 !important;
    border-left: 0.7px solid #cccccc !important;
    margin-top: 3px !important;
}
.acceptButton{
    color:green !important;
}
.rejectButton{
    color:darkred !important;
}

.pendingTutorListHeaderItem{
    font-weight: bold !important;
    color:#464646 !important;
}
.pendingTutorListBodyItem:hover{
    background-color:#eff1f1;
}

.actionButton:hover{
    background-color: #27a2cf !important;
}