.tutorPaper{
    width: 65% !important;
    overflow-x: auto;
    margin-right: auto !important;
    margin-left: auto !important;
    border-radius: 0 !important;
    word-wrap: break-word;
    padding:0 !important;
    margin-top: 2%;

}
.tutorList{
    width: 100%;
    min-width: 400px;
    padding:0 !important;
}

.sortSelection{
    float:right;
}
